[Unit]
Description=Validate IP with MAM
After=wireguard_startup.service

[Service]
Type=oneshot
User=root
ExecStart=/usr/bin/curl -b /root/mam/mam.cookie https://t.myanonamouse.net/json/dynamicSeedbox.php